<%- include("partials/header") %>
<h2>All Posts</h2>
<% if (posts.length === 0) { %>
  <p>No Posts Yet!</p>
<% } %>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
      <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
      <a href="/edit/<%= post.id %>">Edit</a>
    </li>
  <% }) %>
</ul>

<%- include("partials/footer") %>
